@use "../config/" as *;
body {
  background-color: var(--primary-300);
}
.container {
  max-width: var(--container);
  margin: auto;
  width: 100%;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
p {
  color: var(--neutral-200);
}
.title {
  font-size: 3rem;
  color: var(--neutral-100);
}
.web {
  display: none !important;
}
video {
  width: 100%;
}
.white {
  color: var(--neutral-100);
}
.yellow {
  color: var(--accent-300);
}
@include mq(lg) {
  .mob {
    display: none !important;
  }
  .web {
    display: block !important;
  }
  .even-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}
